.d-flex{
    display: flex;
    flex-wrap: wrap;
    
}

.text{
    width:40%;
}
.form-control{
    display: inline-block;
    width:30%;
}
@media only screen and (max-width: 600px) {
    .table{
        width:100px;
    }
    .form-control{
        width:40%;
    }
}

